body {
    margin: 0;
    background-color: rgb(0, 68, 84);
    min-height: 100vh;
    font-family: Consolas, monaco, monospace;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

body main p.error {
    border: 0.2em solid rgb(255, 0, 0);
    padding: 1em;
    border-radius: 0.5em;
    background-color: rgb(0, 44, 54);
    color: rgb(255, 255, 255);
}

code {
    background-color: rgb(0, 44, 54);
    color: rgb(255, 255, 255);
    padding: 0.2em;
    border-radius: 0.2em;
}

/*-------------------*/
/*--- Navigation ---*/
/*-----------------*/
body nav {
    background-color: rgb(0, 44, 54);
    width: 100%;
    max-width: calc(100vw - 2em);
    height: 2em;
    padding: 1em;
}
body nav * {
    display: inline;
}
body nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5em;
}
body nav h1 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}
body nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-flex;
    align-content: center;
    overflow: hidden;
}
body nav .login {
    float: right;
    background-color: #ffab1c;
    color: rgb(0, 0, 0);
    border-radius: 0.5em;
}
body nav .login:hover {
    background-color: #ffbf4c;
}

body main {
    padding: 1em;
}

/*------------------*/
/*----- Start -----*/
/*----------------*/
body main.home {
    display: flex;
    flex-direction: row;
}
body main.home > div {
    flex: 50%;
    padding: 1em;
}
body main.home .faq-answer {
    font-size: 0.8em;
}
body main.home .faq-answer blockquote {
    margin: 0;
    padding: 0;
    font-size: 1em;
    padding-left: 1em;
    border-left: 0.5em solid rgb(0, 44, 54);
}
body main.home .faq-answer blockquote a {
    color: rgb(255, 255, 255);
}

/*-------------------*/
/*--- Challenges ---*/
/*-----------------*/
body main.challenges .challenge-category ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
}
body main.challenges .challenge-category ul li {
    list-style-type: none;
    background-color: rgb(2, 124, 151);
    padding: 1em;
    aspect-ratio: 2/1;
    position: relative;
}
body main.challenges.disabled .challenge-category ul li {
    background-color: rgb(0, 44, 54);
    cursor: not-allowed;
}
body main.challenges .challenge-category ul li .solved {
    /* corner */
    position: absolute;
    top: 0;
    right: 0;
    padding: .5em;
    font-size: .8em;
}
body main.challenges .challenge-category ul li p,
body main.challenges .challenge-category ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
body main.challenges.disabled .challenge-category ul li p,
body main.challenges.disabled .challenge-category ul li a {
    color: rgba(255, 255, 255, 0.347);
    text-decoration: none;
}
body main.challenges .challenge-category ul li .challenge-name {
    font-size: 1.5em;
    font-weight: 700;
}
body main.challenges .challenge-category ul li .challenge-points {
    font-size: .9em;
    font-weight: 600;
}

/*-------------------*/
/*--- Challenge ----*/
/*-----------------*/
body main.challenge {
    display: flex;
    flex-direction: row;
}
body main.challenge > div,
body main.challenge > form {
    flex: 50%;
    padding: 2em;
}
body main.challenge div a {
    background-color: #ffab1c;
    color: rgb(0, 0, 0);
    border-radius: 0.5em;
    font-size: .8em;
    padding: 0.5em;
    text-decoration: none;
}
body main.challenge form input {
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;
    border: 0;
    border-radius: 0.5em;
    background-color: rgb(0, 44, 54);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
body main.challenge form input.invalid {
    border: 0.2em solid rgb(255, 0, 0);
}
body main.challenge form input[type="submit"] {
    background-color: #ffab1c;
    color: rgb(0, 0, 0);
    border-radius: 0.5em;
    font-size: .8em;
}
body main.challenge form:not(.solved) input[type="submit"]:hover {
    background-color: #ffbf4c;
}
body main.challenge form.solved input[type="submit"] {
    /* Darker variant of the background color */
    background-color: #d28d26;
    color: rgb(0, 0, 0);
}
body main.challenge form.solved input:not([type="submit"]) {
    border: 0.2em solid rgb(0, 255, 0);
}

/*-------------------*/
/*--- Scoreboard ---*/
/*-----------------*/
body main.scoreboard {
    display: flex;
    flex-direction: row;
}
body main.scoreboard > div.scoreboard-intro {
    flex: 60%;
    padding: 1em;
}
body main.scoreboard > div.scoreboard-table {
    flex: 40%;
    padding: 1em;
}
body main.scoreboard table {
    width: 100%;
    border-collapse: collapse;
}
body main.scoreboard table thead tr th {
    background-color: rgb(0, 44, 54);
    color: rgb(255, 255, 255);
    padding: 1em;
    text-align: left;
}
body main.scoreboard button#choose-nickname {
    background-color: #ffab1c;
    color: rgb(0, 0, 0);
    border-radius: 0.5em;
    font-size: .8em;
    padding: 0.5em;
    text-decoration: none;
    border: 0;
}
body main.scoreboard .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
body main.scoreboard .overlay.visible {
    display: flex;
}
body main.scoreboard .overlay #dialog-content {
    position: relative;
    background-color: rgb(0, 44, 54);
    padding: 2em;
    border-radius: 0.5em;
    width: 50%;
    max-width: 50em;
}
body main.scoreboard .overlay #dialog-content h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
body main.scoreboard .overlay #dialog-content input[type="text"] {
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;
    border: rgb(255, 255, 255) 0.2em solid;
    border-radius: 0.5em;
    background-color: rgb(0, 44, 54);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
body main.scoreboard .overlay #dialog-content input[type="submit"] {
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;
    background-color: #ffab1c;
    border: 0;
    border-radius: 0.5em;
}
body main.scoreboard .overlay #dialog-content #close-overlay {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.1em;
    width: 2em;
    height: 2em;
    background:none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
}

/*-------------------*/
/*--- Login Page ---*/
/*-----------------*/
body main.login {
    display: flex;
    align-content: center;
    justify-content: center;
}
body main.login form {
    width: 100%;
}
body main.login form input {
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;
    border: 0;
    border-radius: 0.5em;
    background-color: rgb(0, 44, 54);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
body main.login form input.invalid {
    border: 0.2em solid rgb(255, 0, 0);
}
body main.login form input[type="submit"] {
    background-color: #ffab1c;
    color: rgb(0, 0, 0);
    border-radius: 0.5em;
    font-size: .8em;
}

/*-------------------*/
/*----- Footer -----*/
/*-----------------*/
body footer.site-footer {
    background-color: rgb(0, 44, 54);
    width: 100%;
    max-width: calc(100vw - .2em);
    font-size: 0.7em;
    padding: .1em;
    position: relative;
    margin-top: auto;
}
body footer.site-footer p {
    text-align: center;
    width: 100%;
}
body footer.site-footer a {
    color: rgb(255, 255, 255);
}